<a href="https://colab.research.google.com/github/sergiorolnic/anonim/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import os.path
import numpy as np
import pandas as pd

In [35]:
pip install seqeval

Requirement already satisfied: seqeval in /usr/local/lib/python3.7/dist-packages (1.2.2)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.0.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.1.0)

In [36]:
pip install transformers datasets

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.15.0)
Requirement already satisfied: datasets in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.2.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets) (0.70.12.2)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from datasets) (3.8.1)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (2021.11.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets) (0.3.4)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets) (1.1.5)
Requirement already satisfied: pyarrow!=4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (21.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (2.0.8)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (0.13.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (5.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datasets) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [37]:
df1 = pd.read_json("https://github.com/sergiorolnic/anonim/blob/main/data/esempio.json?raw=true")
cn = pd.read_csv('https://raw.githubusercontent.com/nicolomantini/lista_cognomi_italiani/master/cognomi.txt', header=None)
cn.columns = ["cognome"]
femal_name = pd.read_json('https://github.com/sergiorolnic/anonim/blob/main/data/ITGivenFemale.json?raw=true')
male_name = pd.read_json('https://github.com/sergiorolnic/anonim/blob/main/data/ITGivenMale.json?raw=true')
mixt = pd.concat([male_name,femal_name])
index = pd.Index(range(1, 9087, 1))
mixt.set_index(index)

def fill_missing(column_val):
    if column_val == "": 
        column_val = mixt["name"].iloc[np.random.randint(9086)]
    else:
         column_val = column_val
    return column_val

cn["nome"] = ""
cn['nome'] = cn['nome'].apply(fill_missing) 
cn["nome"] = cn["nome"].str.upper()
cn["cognome"] = cn["cognome"].str.upper()
dataframe = pd.DataFrame(df1)
dataframe["cognome"] = cn["cognome"][0:15000]
dataframe["nome"] = cn["nome"][0:15000]
dataframe2 = pd.DataFrame(df1[0:6740])
dataframe2["cognome"] = list(cn["cognome"][15000:21740])
dataframe2["nome"] = list(cn["nome"][15000:21740])

dataframe =dataframe.append(df1, ignore_index = True)
dataframe =dataframe.append(dataframe2, ignore_index = True)
dataframe = dataframe.sample(frac=1).reset_index(drop=True)
test_data_df =dataframe[35000:36000]
dataframe = dataframe[0:35000]

In [38]:
dataframe["full_name"] = dataframe["cognome"] + " " +dataframe["nome"]
dataframe.drop(columns=["cognome", "nome"], inplace=True)

In [39]:
dataframe.head(1)

   cod_prv  cod_com   id  ...              dato6     dato7             full_name
0        5       22  536  ...  12112021 05:49:25  CENS2011  PASSALACQUA ALDESINA

[1 rows x 21 columns]

In [40]:
df = pd.read_json("https://github.com/sergiorolnic/anonim/blob/main/data/popolamento_ina_20211112_header.csv.json?raw=true")

In [41]:
dataframe2 = df.sample(frac=1).reset_index(drop=True)
dataframe2["full_name"] = dataframe2["cognome"] + " " +dataframe2["nome"]
dataframe2.drop(columns=["cognome", "nome"], inplace=True)

In [42]:
dataframe2["cap"] = ""

In [43]:
dataframe.append(dataframe2,ignore_index = True)

       cod_prv  cod_com  ...     dato7                    full_name
0            5       22  ...  CENS2011         PASSALACQUA ALDESINA
1            5       22  ...  CENS2011           INTERISANO LISANNA
2            5       22  ...  CENS2011                 ROSITO FIDES
3            5       22  ...  CENS2011               MEDICO VULMARO
4            5       22  ...  CENS2011              VIOLANTI ORSINO
...        ...      ...  ...       ...                          ...
92727        5       22  ...       NaN               VINO FRANCESCO
92728        5       22  ...       NaN  LOMBARDO ALBERTO PIERANGELO
92729        5       22  ...       NaN     YESSO N'ZROBLA MADELEINE
92730        5       22  ...       NaN                PIRELLI PAOLA
92731        5       22  ...       NaN                LANDI VALERIA

[92732 rows x 21 columns]

In [44]:
test_dataframe = dataframe[90000:92000]

In [45]:
cols1 = dataframe.columns.tolist()
cols2 = dataframe2.columns.tolist()

In [46]:
import random

In [47]:
random.shuffle(cols1)
random.shuffle(cols2)

In [48]:
first_shuffle_data = dataframe[cols1][0:10000]
#first_shuffle_data2 = dataframe2[cols2][0:4000]

In [49]:
random.shuffle(cols1)
random.shuffle(cols2)
second_shuffle_data = dataframe[cols1][10000:20000]
#second_shuffle_data2 = dataframe2[cols2][4000:8000]

In [50]:
random.shuffle(cols1)
random.shuffle(cols2)
third_shuffle_data = dataframe[cols1][20000:30000]
#third_shuffle_data2 = dataframe2[cols2][8000:12000]

In [51]:
random.shuffle(cols1)
random.shuffle(cols2)
fourth_shuffle_data = dataframe[cols1][30000:40000]
#fourth_shuffle_data2 = dataframe2[cols2][12000:15000]

In [52]:
random.shuffle(cols1)
random.shuffle(cols2)
five_shuffle_data = dataframe[cols1][40000:60000]
#five_shuffle_data2 = dataframe2[cols2][15000:17000]

In [53]:
random.shuffle(cols1)
random.shuffle(cols2)
six_shuffle_data = dataframe[cols1][60000:80000]
six_shuffle_data2 = dataframe2[cols2][25000:35000]

In [54]:
def create_token_and_labels(dataset, token_array, tag_array):
  data = dataset

 
  for index, row in data.iterrows():
    tokens = []
    tags = []

    for x, value in row.iteritems():
    
  
      if x == "indirizzo":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Ind")
            first = False
          else:
            tags.append("I-Ind") 
      elif x == "full_name":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Per")
            first = False
          else:
            if row["sesso"] == "M":
              tags.append("I-Per-M")
            else:
              tags.append("I-Per-F")


               

      else:
        tokens.append(str(value))
        tags.append("O") 
  
    token_array.append(tokens)
    tag_array.append(tags)

In [55]:
token_docs = []
tag_docs = []
create_token_and_labels(dataframe,token_docs,tag_docs)
create_token_and_labels(first_shuffle_data,token_docs,tag_docs)
create_token_and_labels(second_shuffle_data,token_docs,tag_docs)
create_token_and_labels(third_shuffle_data,token_docs,tag_docs)
create_token_and_labels(fourth_shuffle_data,token_docs,tag_docs)
create_token_and_labels(five_shuffle_data,token_docs,tag_docs)
create_token_and_labels(six_shuffle_data,token_docs,tag_docs)

#create_token_and_labels(dataframe2,token_docs,tag_docs)
#create_token_and_labels(first_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(second_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(third_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(fourth_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(five_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(six_shuffle_data2,token_docs,tag_docs)

In [56]:
len(token_docs)

70000

In [57]:
texts, tags = token_docs, tag_docs
from sklearn.model_selection import train_test_split
train_texts, val_texts, train_tags, val_tags = train_test_split(texts, tags, test_size=.2)

In [58]:
unique_tags = set(tag for doc in tags for tag in doc)
tag2id = {tag: id for id, tag in enumerate(unique_tags)}
id2tag = {id: tag for tag, id in tag2id.items()}
id2tag

{0: 'I-Per-F', 1: 'B-Per', 2: 'B-Ind', 3: 'O', 4: 'I-Ind', 5: 'I-Per-M'}

In [59]:
from transformers import BertTokenizerFast

#tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')
tokenizer = BertTokenizerFast.from_pretrained('dbmdz/bert-base-italian-cased')

In [ ]:
train_encodings = tokenizer(train_texts, is_split_into_words=True, padding="max_length",return_offsets_mapping=True)

In [ ]:
val_encodings = tokenizer(val_texts, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [ ]:
#test_encodings = tokenizer(test_token, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [ ]:

def encode_tags(tags, encodings):
    labels = [[tag2id[tag] for tag in doc] for doc in tags]
    encoded_labels = []
    for doc_labels, doc_offset in zip(labels, encodings.offset_mapping):
        # create an empty array of -100
        doc_enc_labels = np.ones(len(doc_offset),dtype=int) * -100
        arr_offset = np.array(doc_offset)

        # set labels whose first offset position is 0 and the second is not 0
        mask = (arr_offset[:, 0] == 0) & (arr_offset[:, 1] != 0)
        doc_enc_labels[mask] = doc_labels[:np.sum(mask)]
        encoded_labels.append(doc_enc_labels.tolist())
        
      #  doc_enc_labels[(arr_offset[:,0] == 0) & (arr_offset[:,1] != 0)] = doc_labels
       # encoded_labels.append(doc_enc_labels.tolist())

    return encoded_labels
train_labels = encode_tags(train_tags, train_encodings)
val_labels = encode_tags(val_tags, val_encodings)

In [ ]:
#test_labels = encode_tags(test_tag, test_encodings)

In [ ]:
import tensorflow as tf

In [ ]:

train_encodings.pop("offset_mapping") # we don't want to pass this to the model
val_encodings.pop("offset_mapping")

train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_labels
))

In [ ]:
val_dataset = tf.data.Dataset.from_tensor_slices((
    dict(val_encodings),
    val_labels
))

In [ ]:
from transformers import TFBertForTokenClassification

In [ ]:
model = TFBertForTokenClassification.from_pretrained('dbmdz/bert-base-italian-cased',num_labels=len(unique_tags))
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
model.compile(optimizer=optimizer, loss=model.compute_loss,metrics=metric) # can also use any keras loss fn
model.summary()

In [ ]:
model.fit(train_dataset.shuffle(1000).batch(8), epochs=1,validation_data=val_dataset, batch_size=8)