<a href="https://colab.research.google.com/github/sergiorolnic/anonim/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [232]:
import os.path
import numpy as np
import pandas as pd

In [233]:
pip install seqeval

Requirement already satisfied: seqeval in /usr/local/lib/python3.7/dist-packages (1.2.2)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.0.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.1.0)

In [234]:
pip install transformers datasets

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.15.0)
Requirement already satisfied: datasets in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.2.1)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: pyarrow!=4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets) (1.1.5)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from datasets) (3.8.1)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (2021.11.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets) (0.3.4)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets) (0.70.12.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (5.2.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (21.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (2.0.8)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datasets) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [235]:
df1 = pd.read_json("https://github.com/sergiorolnic/anonim/blob/main/data/esempio.json?raw=true")
cn = pd.read_csv('https://raw.githubusercontent.com/nicolomantini/lista_cognomi_italiani/master/cognomi.txt', header=None)
cn.columns = ["cognome"]
femal_name = pd.read_json('https://github.com/sergiorolnic/anonim/blob/main/data/ITGivenFemale.json?raw=true')
male_name = pd.read_json('https://github.com/sergiorolnic/anonim/blob/main/data/ITGivenMale.json?raw=true')
mixt = pd.concat([male_name,femal_name])
index = pd.Index(range(1, 9087, 1))
mixt.set_index(index)

def fill_missing(column_val):
    if column_val == "": 
        column_val = mixt["name"].iloc[np.random.randint(9086)]
    else:
         column_val = column_val
    return column_val

cn["nome"] = ""
cn['nome'] = cn['nome'].apply(fill_missing) 
cn["nome"] = cn["nome"].str.upper()
cn["cognome"] = cn["cognome"].str.upper()
dataframe = pd.DataFrame(df1)
dataframe["cognome"] = cn["cognome"][0:15000]
dataframe["nome"] = cn["nome"][0:15000]
dataframe2 = pd.DataFrame(df1[0:6740])
dataframe2["cognome"] = list(cn["cognome"][15000:21740])
dataframe2["nome"] = list(cn["nome"][15000:21740])

dataframe =dataframe.append(df1, ignore_index = True)
dataframe =dataframe.append(dataframe2, ignore_index = True)
dataframe = dataframe.sample(frac=1).reset_index(drop=True)
test_data_df =dataframe[35000:36000]
dataframe = dataframe[0:35000]

In [236]:
dataframe["full_name"] = dataframe["cognome"] + " " +dataframe["nome"]

In [224]:
dataframe.head(1)

   cod_prv  cod_com     id  ...              dato6     dato7      full_name
0        5       22  14735  ...  12112021 05:49:25  CENS2011  TOSO TARCISIO

[1 rows x 23 columns]

In [237]:
df = pd.read_json("https://github.com/sergiorolnic/anonim/blob/main/data/popolamento_ina_20211112_header.csv.json?raw=true")

In [238]:
dataframe2 = df.sample(frac=1).reset_index(drop=True)
dataframe2["full_name"] = dataframe2["cognome"] + " " +dataframe2["nome"]
#dataframe2.drop(columns=["cognome", "nome"], inplace=True)

In [239]:
dataframe2["cap"] = ""

In [240]:
dataframe = dataframe.append(dataframe2,ignore_index = True)

In [241]:
test_dataframe = dataframe[90000:90100]
true_indirizzi = list(test_dataframe["indirizzo"])
true_nomi = list(test_dataframe["nome"])
true_cognomi = list(test_dataframe["cognome"])
dataframe.drop(columns=["cognome", "nome"], inplace=True)
test_dataframe.drop(columns=["full_name"], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [206]:
test_dataframe

       cod_prv  cod_com      id      cognome  ... dato4 dato5  dato6 dato7
90000        5       22  125381  CASTELLETTO  ...   NaN   NaN    NaN   NaN
90001        5       22  109129       BLANDI  ...   NaN   NaN    NaN   NaN
90002        5       22   62077   FRANZOLINI  ...   NaN   NaN    NaN   NaN
90003        5       22    4287   BATTAGLINO  ...   NaN   NaN    NaN   NaN
90004        5       22  106111        URUCI  ...   NaN   NaN    NaN   NaN
...        ...      ...     ...          ...  ...   ...   ...    ...   ...
90995        5       22   70282    CELESTINO  ...   NaN   NaN    NaN   NaN
90996        5       22   91748      CAVALLA  ...   NaN   NaN    NaN   NaN
90997        5       22   40480      NAVARRO  ...   NaN   NaN    NaN   NaN
90998        5       22   78200        LANZA  ...   NaN   NaN    NaN   NaN
90999        5       22  135580       NEJNEC  ...   NaN   NaN    NaN   NaN

[1000 rows x 22 columns]

In [81]:
cols1 = dataframe.columns.tolist()
cols2 = dataframe2.columns.tolist()

In [82]:
import random

In [83]:
random.shuffle(cols1)
random.shuffle(cols2)

In [84]:
first_shuffle_data = dataframe[cols1][0:10000]
#first_shuffle_data2 = dataframe2[cols2][0:4000]

In [ ]:
random.shuffle(cols1)
random.shuffle(cols2)
second_shuffle_data = dataframe[cols1][10000:20000]
#second_shuffle_data2 = dataframe2[cols2][4000:8000]

In [ ]:
random.shuffle(cols1)
random.shuffle(cols2)
third_shuffle_data = dataframe[cols1][20000:30000]
#third_shuffle_data2 = dataframe2[cols2][8000:12000]

In [ ]:
random.shuffle(cols1)
random.shuffle(cols2)
fourth_shuffle_data = dataframe[cols1][30000:40000]
#fourth_shuffle_data2 = dataframe2[cols2][12000:15000]

In [ ]:
random.shuffle(cols1)
random.shuffle(cols2)
five_shuffle_data = dataframe[cols1][40000:60000]
#five_shuffle_data2 = dataframe2[cols2][15000:17000]

In [ ]:
random.shuffle(cols1)
random.shuffle(cols2)
six_shuffle_data = dataframe[cols1][60000:80000]
six_shuffle_data2 = dataframe2[cols2][25000:35000]

In [85]:
def create_token_and_labels(dataset, token_array, tag_array):
  data = dataset

 
  for index, row in data.iterrows():
    tokens = []
    tags = []

    for x, value in row.iteritems():
    
  
      if x == "indirizzo":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Ind")
            first = False
          else:
            tags.append("I-Ind") 
      elif x == "full_name":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Per")
            first = False
          else:
            if row["sesso"] == "M":
              tags.append("I-Per-M")
            else:
              tags.append("I-Per-F")


               

      else:
        tokens.append(str(value))
        tags.append("O") 
  
    token_array.append(tokens)
    tag_array.append(tags)

In [86]:
token_docs = []
tag_docs = []
#create_token_and_labels(dataframe,token_docs,tag_docs)
create_token_and_labels(first_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(second_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(third_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(fourth_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(five_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(six_shuffle_data,token_docs,tag_docs)

#create_token_and_labels(dataframe2,token_docs,tag_docs)
#create_token_and_labels(first_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(second_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(third_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(fourth_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(five_shuffle_data2,token_docs,tag_docs)
#create_token_and_labels(six_shuffle_data2,token_docs,tag_docs)

In [117]:
test_tag= []
test_token = []
create_token_and_labels(test_dataframe,test_token,test_tag)

In [63]:
len(test_token)

0

In [ ]:
len(token_docs)

70000

In [88]:
texts, tags = token_docs, tag_docs
from sklearn.model_selection import train_test_split
train_texts, val_texts, train_tags, val_tags = train_test_split(texts, tags, test_size=.2)

In [89]:
unique_tags = set(tag for doc in tags for tag in doc)
tag2id = {tag: id for id, tag in enumerate(unique_tags)}
id2tag = {id: tag for tag, id in tag2id.items()}
id2tag

{0: 'O', 1: 'B-Per', 2: 'I-Ind', 3: 'I-Per-F', 4: 'B-Ind', 5: 'I-Per-M'}

In [90]:
from transformers import BertTokenizerFast

#tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')
tokenizer = BertTokenizerFast.from_pretrained('dbmdz/bert-base-italian-cased')

In [91]:
train_encodings = tokenizer(train_texts, is_split_into_words=True, padding="max_length",return_offsets_mapping=True)

In [92]:
val_encodings = tokenizer(val_texts, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [118]:
test_encodings = tokenizer(test_token, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [94]:

def encode_tags(tags, encodings):
    labels = [[tag2id[tag] for tag in doc] for doc in tags]
    encoded_labels = []
    for doc_labels, doc_offset in zip(labels, encodings.offset_mapping):
        # create an empty array of -100
        doc_enc_labels = np.ones(len(doc_offset),dtype=int) * -100
        arr_offset = np.array(doc_offset)

        # set labels whose first offset position is 0 and the second is not 0
        mask = (arr_offset[:, 0] == 0) & (arr_offset[:, 1] != 0)
        doc_enc_labels[mask] = doc_labels[:np.sum(mask)]
        encoded_labels.append(doc_enc_labels.tolist())
        
      #  doc_enc_labels[(arr_offset[:,0] == 0) & (arr_offset[:,1] != 0)] = doc_labels
       # encoded_labels.append(doc_enc_labels.tolist())

    return encoded_labels
train_labels = encode_tags(train_tags, train_encodings)
val_labels = encode_tags(val_tags, val_encodings)

In [119]:
test_labels = encode_tags(test_tag, test_encodings)

In [96]:
import tensorflow as tf

In [97]:

train_encodings.pop("offset_mapping") # we don't want to pass this to the model
val_encodings.pop("offset_mapping")

train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_labels
))

In [98]:
val_dataset = tf.data.Dataset.from_tensor_slices((
    dict(val_encodings),
    val_labels
))

In [120]:
test_encodings.pop("offset_mapping")
test_dataset = tf.data.Dataset.from_tensor_slices((
    dict(test_encodings),
    test_labels
))

In [71]:
from transformers import TFBertForTokenClassification

In [ ]:
model = TFBertForTokenClassification.from_pretrained('dbmdz/bert-base-italian-cased',num_labels=len(unique_tags))
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
model.compile(optimizer=optimizer, loss=model.compute_loss,metrics=metric) # can also use any keras loss fn
model.summary()

Downloading:   0%|          | 0.00/515M [00:00<?, ?B/s]

All model checkpoint layers were used when initializing TFBertForTokenClassification.

Some layers of TFBertForTokenClassification were not initialized from the model checkpoint at dbmdz/bert-base-italian-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Model: "tf_bert_for_token_classification"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bert (TFBertMainLayer)      multiple                  109337088

 dropout_37 (Dropout)        multiple                  0

 classifier (Dense)          multiple                  4614

=================================================================
Total params: 109,341,702
Trainable params: 109,341,702
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(train_dataset.shuffle(1000).batch(8), epochs=1,validation_data=val_dataset, batch_size=8)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/autograph/impl/api.py:377: UserWarning: Using `-1` to mask the loss for the token is deprecated. Please use `-100` instead.
  return py_builtins.overload_of(f)(*args)

2468/7000 [=========>....................] - ETA: 2:09:19 - loss: 0.0205 - accuracy: 0.0475

In [72]:
model = TFBertForTokenClassification.from_pretrained("load_model")

All model checkpoint layers were used when initializing TFBertForTokenClassification.

All the layers of TFBertForTokenClassification were initialized from the model checkpoint at load_model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertForTokenClassification for predictions without further training.

In [104]:
import time

In [122]:
start= time.time()
x = test_dataset.shuffle(3)
result = model.predict(x.batch(8))
stop= time.time()
print((stop-start)/10)

26.203273582458497

In [127]:
prediction = np.argmax(result, axis=-1)
#prediction = [id2tag[i] for i in prediction]

# eu -> B-ORG, german -> B-MISC, british -> B-MISC
print(prediction)

0

In [125]:
prediction

0

In [100]:
from transformers import pipeline

nlp = pipeline('ner', model=model, tokenizer=tokenizer,aggregation_strategy="first")

In [141]:
nlp("5 10 SERGIU ROLNIC M 8031935 BIANZE BTAZEI35C08A847I VC MONCALIERI TO ITA STRADA GENOVA 58 10024 24032017 10003 13101963 3101963 12112021 05:49:25 CENS2011")

[{'end': 4,
  'entity_group': 'LABEL_0',
  'score': 0.9999425,
  'start': 0,
  'word': '5 10'},
 {'end': 11,
  'entity_group': 'LABEL_3',
  'score': 0.99803275,
  'start': 5,
  'word': 'SERGIU'},
 {'end': 18,
  'entity_group': 'LABEL_2',
  'score': 0.96980053,
  'start': 12,
  'word': 'ROLNIC'},
 {'end': 73,
  'entity_group': 'LABEL_0',
  'score': 0.9999405,
  'start': 19,
  'word': 'M 8031935 BIANZE BTAZEI35C08A847I VC MONCALIERI TO ITA'},
 {'end': 80,
  'entity_group': 'LABEL_1',
  'score': 0.99974257,
  'start': 74,
  'word': 'STRADA'},
 {'end': 90,
  'entity_group': 'LABEL_4',
  'score': 0.99895275,
  'start': 81,
  'word': 'GENOVA 58'},
 {'end': 155,
  'entity_group': 'LABEL_0',
  'score': 0.9999304,
  'start': 91,
  'word': '10024 24032017 10003 13101963 3101963 12112021 05 : 49 : 25 CENS2011'}]

In [101]:
print(id2tag)

{0: 'O', 1: 'B-Per', 2: 'I-Ind', 3: 'I-Per-F', 4: 'B-Ind', 5: 'I-Per-M'}

In [194]:
test_dataframe

Empty DataFrame
Columns: [cod_prv, cod_com, id, cognome, nome, sesso, data_nascita, luogo_nascita, cf, prov_nascita, comune_res, prov_res, citt, indirizzo, cap, dato1, dato2, dato3, dato4, dato5, dato6, dato7]
Index: []

In [189]:
import time

In [242]:

list_durata = []
test_data = []
pred_nomi=[]
pred_cognomi = []
pred_indirizzi= []
data = test_dataframe
for index, row in data.iterrows():
  start = time.time()
  sentence = ""
 
  for x, value in row.iteritems():

    sentence += str(value) + " "

  test_data.append(sentence)
  ris = nlp(sentence)
  indirizzo = ""
  cognome = ""
  nome = ""
  for t in ris:
      
      if t["entity_group"] == "LABEL_1":
        indirizzo = t["word"]
      if t["entity_group"] == "LABEL_4":
        indirizzo += " " + t["word"]
        
      if t["entity_group"] == "LABEL_3":
        cognome =t["word"]
      
      if t["entity_group"] == "LABEL_2":
        nome = t["word"]
      
 
  pred_indirizzi.append(indirizzo)
  pred_cognomi.append(cognome)  
  pred_nomi.append(nome)
  stop = time.time()
  list_durata.append(stop-start)

In [243]:
list_def = []
for x in list_durata:

  list_def.append((x-(sum(list_durata)/100))**2)
    
varianza = sum(list_def)/1000

dizi = {"righe":100,  "media": sum(list_durata)/100, "varianza":varianza}
print(dizi)

{'righe': 100, 'media': 0.6986235117912293, 'varianza': 0.004872693838063456}

In [244]:
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [193]:
nlp(test_data[0])

IndexError: ignored

In [245]:
print(f1_score(true_nomi, pred_nomi, average="micro"))

0.93

In [246]:
print(accuracy_score(true_nomi, pred_nomi))

0.93

In [247]:
print(f1_score(true_cognomi, pred_cognomi, average="micro"))

0.93

In [248]:
print(accuracy_score(true_cognomi, pred_cognomi))

0.93

In [249]:
print(f1_score(true_indirizzi, pred_indirizzi, average="micro"))

0.74

In [250]:
print(accuracy_score(true_indirizzi, pred_indirizzi))

0.74

In [251]:
print(true_indirizzi)
print(pred_indirizzi)

['STRADA GENOVA 208 BIS', 'VIA ANTONIO FOGAZZARO 4', 'CORSO ROMA 6', 'VIA GRAZIA DELEDDA 6', 'VIA MONTE BIANCO 28', 'VIA MONTEBELLO 1', 'VIA CAVOUR 22 TER', 'VIA VINCENZO BELLINI 23', 'STRADA DEL BOSSOLO 9 BIS', 'VIA ADA NEGRI 23', 'VIA MONVISO 21', 'CORSO ROMA 77', 'STRADA RIGOLFO 22 BIS', 'STRADA STUPINIGI 1 5', 'VIA CAVOUR 24', 'STRADA VILLA STELLA 9', 'VIA SESTRIERE 53 3', 'VIA PASTRENGO 33', "PIAZZA CADUTI PER LA LIBERTA' 3", 'STRADA LORETO 19', 'BORGATA TETTI PIATTI 41', 'VIA GIACOMO BOSSO 14', 'VIA BENVENUTO CELLINI 3', 'VIA CAVOUR 23', 'VIALE DELLE BETULLE 5', 'STRADA MAIOLE 21', 'VIA GIOTTO 8', 'VIA GIUSEPPE ROBALDO 1', 'STRADA GENOVA 107 3', 'VIA S.MARIA 24 E', 'STRADA GENOVA 147 TER', 'VIA MONVISO 19', 'VIA PIERO GOBETTI 3', 'VIA DEI MILLE 17', 'STRADA GENOVA 129 BIS', 'VIA GALILEO GALILEI 26', 'VIA CAVOUR 36', 'VIA GIOVANNI SEGANTINI 30 2', 'CORSO SAVONA 19', 'STRADA CASTELVECCHIO 6', 'VIA PESCHIERA 11', 'VIA AMILCARE PONCHIELLI 39', 'VIA S.CROCE 46', 'VIA SOMALIA 39', 'VIA BRUNO BUOZZI 11', 'STRADA S.ANSELMO 17', 'VIA CARLO COLLODI 4', 'STRADA GENOVA 222', 'VIA S.MARIA 29 1', 'VIA MONTE NERO 10', 'VIA CERNAIA 1', 'VIA PIERO GOBETTI 9', 'CORSO FRATELLI ROSSELLI 6', 'STRADA CARIGNANO 18', 'VIA GIOVANNI SEGANTINI 58', 'VIA GIOACCHINO ROSSINI 11', 'VIA CESARE PAVESE 17', 'STRADA PRACIOSA 6', 'STRADA TORINO 33', 'STRADA PRACIOSA 20 BIS', 'STRADA ROCCACATENE 7', 'CORSO TRIESTE 41 2', 'VIA SESTRIERE 27', 'PIAZZA BENGASI 26', 'STRADA CARIGNANO 56', 'VIA FIUME 24', 'CORSO ROMA 45', 'VIA MONVISO 12', 'CORSO TRIESTE 25 A', 'VIA LUIGI PIRANDELLO 2', 'VIA S.CROCE 27', 'BORGATA TETTI PIATTI 21', 'STRADA SANDA 63', 'BORGATA TETTI ROLLE 45 1', 'VIA SESTRIERE 49 TER', 'VIA FILIPPO TURATI 2', 'VIA S.MARTINO 35', 'CORSO ROMA 23', 'VIA PLAUTO 8', 'STRADA PASUBIO 38', 'VIA MARIO PANNUNZIO 5', 'VIA DEI MILLE 9', 'VIA S.GIOVANNI BOSCO 6', 'STRADA REVIGLIASCO 15 BIS', 'CORSO SAVONA 4', 'STRADA C. FERRERO DI CAMBIANO 51', 'VIA VILLAFRANCA 3', 'CORSO TRIESTE 73', 'VIALE ENRICO BERLINGUER 10 1', 'STRADA GIORGIO DEVALLE 21', 'VIA TIEPOLO 12', 'VIA S.GIOVANNI BOSCO 18', 'VIA SESTRIERE 13', 'VIA PASTRENGO 130', 'VIA JUGLARIS 62', 'STRADA CENASCO 7', 'VIA QUINTINO SELLA 34', 'STRADA VINOVO 12', 'STRADA VIVERO 10', 'VIA PIAVE 8']
['STRADA GENOVA 208', 'VIA ANTONIO FOGAZZARO 4', 'CORSO ROMA 6', 'VIA GRAZIA DELEDDA 6', 'VIA MONTE BIANCO 28', 'VIA MONTEBELLO 1', 'VIA CAVOUR 22', 'VIA VINCENZO BELLINI 23', 'STRADA DEL BOSSOLO 9', 'VIA ADA NEGRI 23', 'VIA MONVISO 21', 'CORSO ROMA 77', 'STRADA RIGOLFO 22', 'STRADA STUPINIGI 1', 'VIA CAVOUR 24', 'STRADA VILLA STELLA 9', 'VIA SESTRIERE 53', 'VIA PASTRENGO 33', "PIAZZA CADUTI PER LA LIBERTA'3", 'STRADA LORETO 19', 'BORGATA TETTI PIATTI 41', 'VIA GIACOMO BOSSO 14', 'VIA BENVENUTO CELLINI 3', 'VIA CAVOUR 23', 'VIALE DELLE BETULLE 5', 'STRADA MAIOLE 21', 'VIA GIOTTO 8', 'VIA GIUSEPPE ROBALDO 1', 'STRADA GENOVA 107', 'VIA S. MARIA 24', 'STRADA GENOVA 147', 'VIA MONVISO 19', 'VIA PIERO GOBETTI 3', 'VIA DEI MILLE 17', 'STRADA GENOVA 129', 'VIA GALILEO GALILEI 26', 'VIA CAVOUR 36', 'VIA GIOVANNI SEGANTINI 30', 'CORSO SAVONA 19', 'STRADA CASTELVECCHIO 6', 'VIA PESCHIERA 11', 'VIA AMILCARE PONCHIELLI 39', 'VIA S. CROCE 46', 'VIA SOMALIA 39', 'VIA BRUNO BUOZZI 11', 'STRADA S. ANSELMO 17', 'VIA CARLO COLLODI 4', 'STRADA GENOVA 222', 'VIA S. MARIA 29', 'VIA MONTE NERO 10', 'VIA CERNAIA 1', 'VIA PIERO GOBETTI 9', 'CORSO FRATELLI ROSSELLI 6', 'STRADA CARIGNANO 18', 'VIA GIOVANNI SEGANTINI 58', 'VIA GIOACCHINO ROSSINI 11', 'VIA CESARE PAVESE 17', 'STRADA PRACIOSA 6', 'STRADA TORINO 33', 'STRADA PRACIOSA 20', 'STRADA ROCCACATENE 7', 'CORSO TRIESTE 41', 'VIA SESTRIERE 27', 'PIAZZA BENGASI 26', 'STRADA CARIGNANO 56', 'VIA FIUME 24', 'CORSO ROMA 45', 'VIA MONVISO 12', 'CORSO TRIESTE 25', 'VIA LUIGI PIRANDELLO 2', 'VIA S. CROCE 27', 'BORGATA TETTI PIATTI 21', 'STRADA SANDA 63', 'BORGATA TETTI ROLLE 45', 'VIA SESTRIERE 49', 'VIA FILIPPO TURATI 2', 'VIA S. MARTINO 35', 'CORSO ROMA 23', 'VIA PLAUTO 8', 'STRADA PASUBIO 38', 'VIA MARIO PANNUNZIO 5', 'VIA DEI MILLE 9', 'VIA S. GIOVANNI BOSCO 6', 'STRADA REVIGLIASCO 15', 'CORSO SAVONA 4', 'STRADA C. FERRERO DI CAMBIANO 51', 'VIA VILLAFRANCA 3', 'CORSO TRIESTE 73', 'VIALE ENRICO BERLINGUER 10', 'STRADA GIORGIO DEVALLE 21', 'VIA TIEPOLO 12', 'VIA S. GIOVANNI BOSCO 18', 'VIA SESTRIERE 13', 'VIA PASTRENGO 130', 'VIA JUGLARIS 62', 'STRADA CENASCO 7', 'VIA QUINTINO SELLA 34', 'STRADA VINOVO 12', 'STRADA VIVERO 10', 'VIA PIAVE 8']

In [ ]:
print(accuracy_score(true_indirizzi, pred_indirizzi))

In [255]:
count=0
for x in range(100):
  if pred_indirizzi[x] in true_indirizzi[x]:
    count += 1
  else:
     print(pred_indirizzi[x]) 
     print(true_indirizzi[x])
print(count)

PIAZZA CADUTI PER LA LIBERTA'3
PIAZZA CADUTI PER LA LIBERTA' 3
VIA S. MARIA 24
VIA S.MARIA 24 E
VIA S. CROCE 46
VIA S.CROCE 46
STRADA S. ANSELMO 17
STRADA S.ANSELMO 17
VIA S. MARIA 29
VIA S.MARIA 29 1
VIA S. CROCE 27
VIA S.CROCE 27
VIA S. MARTINO 35
VIA S.MARTINO 35
VIA S. GIOVANNI BOSCO 6
VIA S.GIOVANNI BOSCO 6
VIA S. GIOVANNI BOSCO 18
VIA S.GIOVANNI BOSCO 18
91

In [261]:
from prettytable import PrettyTable
x = PrettyTable()
x.field_names = ["Campo","F1_score"]


x.add_row(['Indirizzo',f1_score(true_indirizzi, pred_indirizzi, average="micro")])
x.add_row(['Nome', f1_score(true_nomi, pred_nomi, average="micro") ])
x.add_row(['Cognome', f1_score(true_cognomi, pred_cognomi, average="micro") ])




print(x)

+-----------+----------+
|   Campo   | F1_score |
+-----------+----------+
| Indirizzo |   0.74   |
|    Nome   |   0.93   |
|  Cognome  |   0.93   |
+-----------+----------+