<a href="https://colab.research.google.com/github/sergiorolnic/anonim/blob/tirocinio/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os.path
import numpy as np
import pandas as pd

In [2]:
pip install sentencepiece

Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)

In [3]:
pip install seqeval

Requirement already satisfied: seqeval in /usr/local/lib/python3.7/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.21.5)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (3.1.0)

In [4]:
pip install transformers datasets

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.17.0)
Requirement already satisfied: datasets in /usr/local/lib/python3.7/dist-packages (1.18.3)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.6)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.11.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.63.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets) (1.3.5)
Requirement already satisfied: pyarrow!=4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (6.0.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets) (0.3.4)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (2022.2.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from datasets) (3.8.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets) (0.70.12.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (6.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (21.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.3.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (2.0.12)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (0.13.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datasets) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [5]:
df = pd.read_json("https://github.com/sergiorolnic/anonim/blob/tirocinio/data/popolamento_ina_20211112_header.csv.json?raw=true")
dataframe2 = df.sample(frac=1).reset_index(drop=True)
dataframe2["full_name"] = dataframe2["cognome"] + " " +dataframe2["nome"]
dataframe2["cap"] = ""

In [6]:
df1 = pd.read_json("https://github.com/sergiorolnic/anonim/blob/tirocinio/data/esempio.json?raw=true")
df1["full_name"] = df1["cognome"] + " " +df1["nome"]

In [7]:
dataframe2 = dataframe2.append(df1,ignore_index = True)
dataframe2.drop(columns=["cognome", "nome"], inplace=True)

In [8]:
dataframe2

,cod_prv,cod_com,id,sesso,data_nascita,luogo_nascita,cf,prov_nascita,comune_res,prov_res,...,indirizzo,full_name,cap,dato1,dato2,dato3,dato4,dato5,dato6,dato7
0,5,22,122831,F,4082010,TORINO,BRLRCC10M44L219K,TO,MONCALIERI,TO,...,STRADA CARIGNANO 34 BIS,BORELLO REBECCA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,22,115845,F,21012008,MONCALIERI,BLLGRG08A61F335B,TO,MONCALIERI,TO,...,STRADA REVIGLIASCO 12,BELLAN GIORGIA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,22,122177,M,29042010,MONCALIERI,BRSMLM10D29F335L,TO,MONCALIERI,TO,...,VIA JUGLARIS 68,BORS EMANUELE MARIN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,22,122648,F,27062010,TORINO,PRTMTN10H67L219V,TO,MONCALIERI,TO,...,VIA UGO FOSCOLO 7,PORTELLI MARTINA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,22,23099,F,14101983,TORINO,FRRMNL83R54L219H,TO,MONCALIERI,TO,...,VIA GIUSEPPE GIACOSA 10,FERRERO EMANUELA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72727,5,22,41887,M,11101945,PETILIA POLICASTRO,PCASVT45R11G508K,KR,MONCALIERI,TO,...,VIA GRAZIA DELEDDA 23/BIS,PACE SALVATORE,10024,24032017.0,52101.0,1.0,6051968.0,6051968.0,12112021 05:49:25,CENS2011
72728,5,22,41888,M,16011976,TORINO,PCASMN76A16L219D,TO,MONCALIERI,TO,...,VIA MATILDE SERAO 9,PACE SIMONE,10024,24032017.0,118174.0,1.0,25012006.0,25012006.0,12112021 05:49:25,CENS2011
72729,5,22,41890,F,3011951,PETILIA POLICASTRO,PCATRS51A43G508L,KR,MONCALIERI,TO,...,VIA GRAZIA DELEDDA 23/BIS,PACE TERESA,10024,24032017.0,50636.0,2.0,6051968.0,6051968.0,12112021 05:49:25,CENS2011
72730,5,22,41892,M,23011948,ATELLA,PCAVTI48A23A482U,PZ,MONCALIERI,TO,...,STRADA PECENASCO 9,PACE VITO,10024,24032017.0,52102.0,1.0,17031964.0,17031964.0,12112021 05:49:25,CENS2011
72731,5,22,41893,M,22041977,MONCALIERI,PCLNTN77D22F335L,TO,MONCALIERI,TO,...,STRADA DELLE FINANZE 23,PACELLA ANTONIO,10024,24032017.0,52103.0,3.0,22041977.0,21111974.0,12112021 05:49:25,CENS2011

In [9]:
import random
cols2 = dataframe2.columns.tolist()

In [10]:
random.shuffle(cols2)
first_shuffle_data = dataframe2[cols2][0:15000]

In [11]:
random.shuffle(cols2)
second_shuffle_data = dataframe2[cols2][15000:30000]

In [12]:
random.shuffle(cols2)
third_shuffle_data = dataframe2[cols2][30000:50000]

In [13]:
def create_token_and_labels(dataset, token_array, tag_array):
  data = dataset

 
  for index, row in data.iterrows():
    tokens = []
    tags = []

    for x, value in row.iteritems():
    
  
      if x == "indirizzo":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Ind")
            first = False
          else:
            tags.append("I-Ind") 
      elif x == "full_name":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Per")
            first = False
          else:
            if row["sesso"] == "M":
              tags.append("I-Per-M")
            else:
              tags.append("I-Per-F")


               

      else:
        tokens.append(str(value))
        tags.append("O") 
  
    token_array.append(tokens)
    tag_array.append(tags)

In [14]:
token_docs = []
tag_docs = []

create_token_and_labels(first_shuffle_data,token_docs,tag_docs)
create_token_and_labels(second_shuffle_data,token_docs,tag_docs)
create_token_and_labels(third_shuffle_data,token_docs,tag_docs)
#create_token_and_labels(fourth_shuffle_data,token_docs,tag_docs)

In [15]:
texts, tags = token_docs, tag_docs
from sklearn.model_selection import train_test_split
train_texts, val_texts, train_tags, val_tags = train_test_split(texts, tags, test_size=.2)

In [16]:
unique_tags = set(tag for doc in tags for tag in doc)
tag2id = {tag: id for id, tag in enumerate(unique_tags)}
id2tag = {id: tag for tag, id in tag2id.items()}
id2tag

{0: 'I-Ind', 1: 'O', 2: 'I-Per-M', 3: 'B-Ind', 4: 'B-Per', 5: 'I-Per-F'}

In [17]:
from transformers import XLMRobertaTokenizerFast

#tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')
tokenizer = XLMRobertaTokenizerFast.from_pretrained('jplu/tf-xlm-r-ner-40-lang')

In [18]:
train_encodings = tokenizer(train_texts, is_split_into_words=True, padding="max_length",return_offsets_mapping=True)

Asking to pad to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no padding.

In [19]:
val_encodings = tokenizer(val_texts, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [20]:

def encode_tags(tags, encodings):
    labels = [[tag2id[tag] for tag in doc] for doc in tags]
    encoded_labels = []
    for doc_labels, doc_offset in zip(labels, encodings.offset_mapping):
        # create an empty array of -100
        doc_enc_labels = np.ones(len(doc_offset),dtype=int) * -100
        arr_offset = np.array(doc_offset)

        # set labels whose first offset position is 0 and the second is not 0
        mask = (arr_offset[:, 0] == 0) & (arr_offset[:, 1] != 0)
        doc_enc_labels[mask] = doc_labels[:np.sum(mask)]
        encoded_labels.append(doc_enc_labels.tolist())
        
      #  doc_enc_labels[(arr_offset[:,0] == 0) & (arr_offset[:,1] != 0)] = doc_labels
       # encoded_labels.append(doc_enc_labels.tolist())

    return encoded_labels
train_labels = encode_tags(train_tags, train_encodings)
val_labels = encode_tags(val_tags, val_encodings)

ValueError: ignored

In [ ]:
import tensorflow as tf

In [ ]:
train_encodings.pop("offset_mapping") # we don't want to pass this to the model
val_encodings.pop("offset_mapping")

train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_labels
))

In [ ]:
val_dataset = tf.data.Dataset.from_tensor_slices((
    dict(val_encodings),
    val_labels
))

In [ ]:
from transformers import TFBertForTokenClassification

In [ ]:
model = TFBertForTokenClassification.from_pretrained('jplu/tf-xlm-r-ner-40-lang',num_labels=len(unique_tags))
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
model.compile(optimizer=optimizer, loss="sparse_categorical_crossentropy",metrics=metric) # can also use any keras loss fn
model.summary()

In [ ]:
model.fit(train_dataset.shuffle(1000).batch(8), epochs=1,validation_data=val_dataset, batch_size=8)

In [ ]:
model.save_pretrained("gender_model")