<a href="https://colab.research.google.com/github/sergiorolnic/anonim/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import os.path
import numpy as np
import pandas as pd

In [92]:
pip install seqeval

Requirement already satisfied: seqeval in /usr/local/lib/python3.7/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.19.5)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from seqeval) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.1.0)

In [93]:
pip install transformers datasets

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.13.0)
Requirement already satisfied: datasets in /usr/local/lib/python3.7/dist-packages (1.16.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.2.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (2021.11.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from datasets) (3.8.1)
Requirement already satisfied: pyarrow!=4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from datasets) (0.3.4)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/dist-packages (from datasets) (0.70.12.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datasets) (1.1.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (4.0.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (2.0.8)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (21.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->datasets) (5.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datasets) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)

# Create Data

In [94]:
df = pd.read_json("https://raw.githubusercontent.com/sergiorolnic/anonim/main/data/esempio.json")

In [95]:
df.head(5)

   cod_prv  cod_com  id  ...     dato5              dato6     dato7
0        5       22   1  ...  16072008  12112021 05:49:25  CENS2011
1        5       22   2  ...  14012010  12112021 05:49:25  CENS2011
2        5       22   8  ...  29011968  12112021 05:49:25  CENS2011
3        5       22  11  ...  11041972  12112021 05:49:25  CENS2011
4        5       22  13  ...   3101963  12112021 05:49:25  CENS2011

[5 rows x 22 columns]

In [96]:
df[df["cognome"] == "INTILI"]

       cod_prv  cod_com     id  ...     dato5              dato6     dato7
11030        5       22  30650  ...   2101970  12112021 05:49:25  CENS2011
11031        5       22  30651  ...  13122004  12112021 05:49:25  CENS2011

[2 rows x 22 columns]

In [97]:
cn = pd.read_csv('https://raw.githubusercontent.com/nicolomantini/lista_cognomi_italiani/master/cognomi.txt', header=None)
cn.columns = ["cognome"]

In [98]:
cn.head(2)

    cognome
0  Abagnale
1  Abagnali

In [99]:
femal_name = pd.read_json('https://raw.githubusercontent.com/sergiorolnic/anonim/main/data/ITGivenFemale.json')

In [100]:
femal_name[100:200]

         name gender culture
100   Albsana      F      IT
101   Albania      F      IT
102  Albarosa      F      IT
103  Alberica      F      IT
104  Alberice      F      IT
..        ...    ...     ...
195    Alvara      F      IT
196  Alvarina      F      IT
197    Alvisa      F      IT
198   Alvisia      F      IT
199   Amabile      F      IT

[100 rows x 3 columns]

In [101]:
male_name = pd.read_json('https://raw.githubusercontent.com/sergiorolnic/anonim/main/data/ITGivenMale.json')

In [102]:
male_name

             name gender culture
0           Abaco      M      IT
1     Abbondanzio      M      IT
2      Abbondazio      M      IT
3        Abbondio      M      IT
4        Abdenago      M      IT
...           ...    ...     ...
4994    Zolferino      M      IT
4995       Zopito      M      IT
4996      Zoraido      M      IT
4997       Zosimo      M      IT
4998       Zulino      M      IT

[4999 rows x 3 columns]

In [103]:
mixt = pd.concat([male_name,femal_name])

In [104]:
mixt

             name gender culture
0           Abaco      M      IT
1     Abbondanzio      M      IT
2      Abbondazio      M      IT
3        Abbondio      M      IT
4        Abdenago      M      IT
...           ...    ...     ...
4082         Zola      F      IT
4083        Zolia      F      IT
4084       Zopita      F      IT
4085      Zoraide      F      IT
4086       Zulina      F      IT

[9086 rows x 3 columns]

In [105]:
index = pd.Index(range(1, 9087, 1))

In [106]:
mixt.set_index(index)

             name gender culture
1           Abaco      M      IT
2     Abbondanzio      M      IT
3      Abbondazio      M      IT
4        Abbondio      M      IT
5        Abdenago      M      IT
...           ...    ...     ...
9082         Zola      F      IT
9083        Zolia      F      IT
9084       Zopita      F      IT
9085      Zoraide      F      IT
9086       Zulina      F      IT

[9086 rows x 3 columns]

In [107]:
mixt["name"].iloc[9085]

'Zulina'

In [108]:
def fill_missing(column_val):
    if column_val == "": 
        column_val = mixt["name"].iloc[np.random.randint(9086)]
    else:
         column_val = column_val
    return column_val

In [109]:
cn["nome"] = ""

In [110]:
cn['nome'] = cn['nome'].apply(fill_missing)

In [111]:
cn["nome"] = cn["nome"].str.upper()

In [112]:
cn["cognome"] = cn["cognome"].str.upper()

In [113]:
df

       cod_prv  cod_com     id  ...     dato5              dato6     dato7
0            5       22      1  ...  16072008  12112021 05:49:25  CENS2011
1            5       22      2  ...  14012010  12112021 05:49:25  CENS2011
2            5       22      8  ...  29011968  12112021 05:49:25  CENS2011
3            5       22     11  ...  11041972  12112021 05:49:25  CENS2011
4            5       22     13  ...   3101963  12112021 05:49:25  CENS2011
...        ...      ...    ...  ...       ...                ...       ...
14995        5       22  41887  ...   6051968  12112021 05:49:25  CENS2011
14996        5       22  41888  ...  25012006  12112021 05:49:25  CENS2011
14997        5       22  41890  ...   6051968  12112021 05:49:25  CENS2011
14998        5       22  41892  ...  17031964  12112021 05:49:25  CENS2011
14999        5       22  41893  ...  21111974  12112021 05:49:25  CENS2011

[15000 rows x 22 columns]

In [114]:
#dataframe =df.append(cn, ignore_index = True)

In [115]:
dataframe = pd.DataFrame(df)

In [116]:
dataframe["cognome"] = cn["cognome"][0:15000]
dataframe["nome"] = cn["nome"][0:15000]

In [117]:
dataframe2 = pd.DataFrame(df[0:6740])

In [118]:
dataframe2["cognome"] = list(cn["cognome"][15000:21740])
dataframe2["nome"] = list(cn["nome"][15000:21740])
dataframe2

      cod_prv  cod_com     id  ...     dato5              dato6     dato7
0           5       22      1  ...  16072008  12112021 05:49:25  CENS2011
1           5       22      2  ...  14012010  12112021 05:49:25  CENS2011
2           5       22      8  ...  29011968  12112021 05:49:25  CENS2011
3           5       22     11  ...  11041972  12112021 05:49:25  CENS2011
4           5       22     13  ...   3101963  12112021 05:49:25  CENS2011
...       ...      ...    ...  ...       ...                ...       ...
6735        5       22  18788  ...  18091970  12112021 05:49:25  CENS2011
6736        5       22  18796  ...  24021970  12112021 05:49:25  CENS2011
6737        5       22  18797  ...  13042002  12112021 05:49:25  CENS2011
6738        5       22  18798  ...   3121980  12112021 05:49:25  CENS2011
6739        5       22  18799  ...  24111969  12112021 05:49:25  CENS2011

[6740 rows x 22 columns]

In [119]:
dataframe =dataframe.append(df, ignore_index = True)

In [120]:
dataframe =dataframe.append(dataframe2, ignore_index = True)
dataframe

       cod_prv  cod_com     id  ...     dato5              dato6     dato7
0            5       22      1  ...  16072008  12112021 05:49:25  CENS2011
1            5       22      2  ...  14012010  12112021 05:49:25  CENS2011
2            5       22      8  ...  29011968  12112021 05:49:25  CENS2011
3            5       22     11  ...  11041972  12112021 05:49:25  CENS2011
4            5       22     13  ...   3101963  12112021 05:49:25  CENS2011
...        ...      ...    ...  ...       ...                ...       ...
36735        5       22  18788  ...  18091970  12112021 05:49:25  CENS2011
36736        5       22  18796  ...  24021970  12112021 05:49:25  CENS2011
36737        5       22  18797  ...  13042002  12112021 05:49:25  CENS2011
36738        5       22  18798  ...   3121980  12112021 05:49:25  CENS2011
36739        5       22  18799  ...  24111969  12112021 05:49:25  CENS2011

[36740 rows x 22 columns]

In [121]:
dataframe = dataframe.sample(frac=1).reset_index(drop=True)
dataframe

       cod_prv  cod_com     id  ...     dato5              dato6     dato7
0            5       22  13319  ...  16011965  12112021 05:49:25  CENS2011
1            5       22   3224  ...   5012009  12112021 05:49:25  CENS2011
2            5       22  21662  ...  16092003  12112021 05:49:25  CENS2011
3            5       22  13810  ...   3111999  12112021 05:49:25  CENS2011
4            5       22  13750  ...  21051952  12112021 05:49:25  CENS2011
...        ...      ...    ...  ...       ...                ...       ...
36735        5       22   4143  ...  19031979  12112021 05:49:25  CENS2011
36736        5       22    503  ...   2091974  12112021 05:49:25  CENS2011
36737        5       22   4382  ...  22031962  12112021 05:49:25  CENS2011
36738        5       22  39976  ...   8111983  12112021 05:49:25  CENS2011
36739        5       22  11097  ...  16031962  12112021 05:49:25  CENS2011

[36740 rows x 22 columns]

# Preprocessing

In [122]:
dataframe["full_name"] = dataframe["cognome"] + " " +dataframe["nome"]

In [126]:
cognomi_veri = list(dataframe[36000:36100]["cognome"].str.lower())
nomi_veri = list(dataframe[36000:36100]["nome"].str.lower())

In [ ]:
dataframe.drop(columns=["cognome", "nome"], inplace=True)

In [ ]:
cols = df.columns.tolist()

In [ ]:
cols = ['cod_prv',
 'cod_com',
 'id',
 'full_name',
 'sesso',
 'data_nascita',
 'luogo_nascita',
 'cf',
 'prov_nascita',
 'comune_res',
 'prov_res',
 'citt',
 'indirizzo',
 'cap',
 'dato1',
 'dato2',
 'dato3',
 'dato4',
 'dato5',
 'dato6',
 'dato7']

In [ ]:
dataframe = dataframe[cols]

In [ ]:
dataframe.head(2)

In [ ]:
cols = ['cod_prv',
 'cod_com',
 'id',
 'sesso',
 'data_nascita',
 'luogo_nascita',
 'cf',
 'prov_nascita',
 'comune_res',
 'prov_res',
 'full_name',
 'citt',
 'cap',
 'dato1',
 'dato2',
 'dato3',
 'indirizzo',
 'dato4',
 'dato5',
 'dato6',
 'dato7']

In [ ]:
first_shuffle_data = dataframe[10000:20000][cols]

In [ ]:
first_shuffle_data.head(2)

In [ ]:
cols = ['cod_prv',
 'cod_com',
 'indirizzo',
 'id',
 'sesso',
 'data_nascita',
 'luogo_nascita',
 'cf',
 'prov_nascita',
 'comune_res',
 'prov_res',
 
 'citt',
 'cap',
 'dato1',
 'dato2',
 'full_name',
 'dato3',
 
 'dato4',
 'dato5',
 'dato6',
 'dato7']

In [ ]:
second_shuffle_data = dataframe[20000:32000][cols]

In [ ]:
cols = ['cod_prv',
 'cod_com',
 'id',
 'sesso',
 'data_nascita',
 'luogo_nascita',
 'cf',
 'full_name',
 'prov_nascita',
 'comune_res',
 'prov_res',
 
 'citt',
 'cap',
 'dato1',
 'dato2',
 'dato3',
 'indirizzo',
 'dato4',
 'dato5',
 'dato6',
 'dato7']

In [ ]:
second_shuffle_data

Prova definitiva

In [ ]:
def create_token_and_labels(dataset, token_array, tag_array):
  data = dataset

 
  for index, row in data.iterrows():
    tokens = []
    tags = []

    for x, value in row.iteritems():
    
  
      if x == "indirizzo":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Ind")
            first = False
          else:
            tags.append("I-Ind") 
      elif x == "full_name":
        y = value.split()
        first= True;
        for word in y:
          tokens.append(str(word))
          if first:
            tags.append("B-Per")
            first = False
          else:
            tags.append("I-Per")     

      else:
        tokens.append(str(value))
        tags.append("O") 
  
    token_array.append(tokens)
    tag_array.append(tags)

In [ ]:
token_docs = []
tag_docs = []
create_token_and_labels(dataframe[0:10000],token_docs,tag_docs)
create_token_and_labels(first_shuffle_data,token_docs,tag_docs)
create_token_and_labels(second_shuffle_data,token_docs,tag_docs)

In [ ]:
test_tag= []
test_token = []
create_token_and_labels(dataframe[32000:36000],test_token,test_tag)

In [ ]:
test_token

In [ ]:
test_tag

In [ ]:
print(token_docs[500])
print(tag_docs[500])

In [ ]:
texts, tags = token_docs, tag_docs

In [ ]:
from sklearn.model_selection import train_test_split
train_texts, val_texts, train_tags, val_tags = train_test_split(texts, tags, test_size=.2)

In [ ]:
print(train_texts, train_tags)

In [ ]:
unique_tags = set(tag for doc in tags for tag in doc)
tag2id = {tag: id for id, tag in enumerate(unique_tags)}
id2tag = {id: tag for tag, id in tag2id.items()}

In [ ]:
id2tag

In [ ]:
from transformers import BertTokenizerFast

tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')

train_encodings = tokenizer(train_texts, is_split_into_words=True, padding="max_length",return_offsets_mapping=True)
val_encodings = tokenizer(val_texts, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [ ]:
test_encodings = tokenizer(test_token, is_split_into_words=True,padding="max_length", return_offsets_mapping=True)

In [ ]:

def encode_tags(tags, encodings):
    labels = [[tag2id[tag] for tag in doc] for doc in tags]
    encoded_labels = []
    for doc_labels, doc_offset in zip(labels, encodings.offset_mapping):
        # create an empty array of -100
        doc_enc_labels = np.ones(len(doc_offset),dtype=int) * -100
        arr_offset = np.array(doc_offset)

        # set labels whose first offset position is 0 and the second is not 0
        mask = (arr_offset[:, 0] == 0) & (arr_offset[:, 1] != 0)
        doc_enc_labels[mask] = doc_labels[:np.sum(mask)]
        encoded_labels.append(doc_enc_labels.tolist())
        
      #  doc_enc_labels[(arr_offset[:,0] == 0) & (arr_offset[:,1] != 0)] = doc_labels
       # encoded_labels.append(doc_enc_labels.tolist())

    return encoded_labels
train_labels = encode_tags(train_tags, train_encodings)
val_labels = encode_tags(val_tags, val_encodings)

In [ ]:
test_labels = encode_tags(test_tag, test_encodings)

In [ ]:
test_labels

In [ ]:
import tensorflow as tf

In [ ]:


train_encodings.pop("offset_mapping") # we don't want to pass this to the model
val_encodings.pop("offset_mapping")

train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_labels
))
val_dataset = tf.data.Dataset.from_tensor_slices((
    dict(val_encodings),
    val_labels
))

In [ ]:
test_encodings.pop("offset_mapping")
test_dataset = tf.data.Dataset.from_tensor_slices((
    dict(test_encodings),
    test_labels
))

In [ ]:
from transformers import TFBertForTokenClassification

In [ ]:
model = TFBertForTokenClassification.from_pretrained("bert-base-uncased",num_labels=len(unique_tags))

# Normal training

In [ ]:
#model.layers[-1].activation = tf.keras.activations.softmax
#optimizer = tf.keras.optimizers.Adam(learning_rate=1e-6)
#loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
#modell.layers[2].activation = tf.keras.activations.softmax
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')
#model.compile(optimizer=optimizer, loss=loss, metrics=[metric])

#model.summary()

In [ ]:


optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
model.compile(optimizer=optimizer, loss=model.compute_loss,metrics=metric) # can also use any keras loss fn
model.summary()

In [ ]:
fdg

In [ ]:
model.fit(train_dataset.shuffle(1000).batch(8), epochs=1,validation_data=val_dataset, batch_size=8)

In [ ]:
model.save_pretrained("saved_model")

In [127]:
model = TFBertForTokenClassification.from_pretrained("saved_model")

Some layers from the model checkpoint at saved_model were not used when initializing TFBertForTokenClassification: ['dropout_37']
- This IS expected if you are initializing TFBertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertForTokenClassification were initialized from the model checkpoint at saved_model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertForTokenClassification for predictions without further training.

In [ ]:
x = test_dataset.shuffle(3)
#result = model.predict(x.batch(8))
#print(result)

In [ ]:
ris =model.evaluate(x.batch(8))

In [ ]:
model.metrics_names

In [ ]:
history_dict = model.history
print(history_dict.keys())

acc = history_dict['accuracy']
val_acc = history_dict['val_accuracy']
loss = history_dict['loss']
val_loss = history_dict['val_loss']

epochs = range(1, len(acc) + 1)
fig = plt.figure(figsize=(10, 6))
fig.tight_layout()

plt.subplot(2, 1, 1)
# r is for "solid red line"
plt.plot(epochs, loss, 'r', label='Training loss')
# b is for "solid blue line"
plt.plot(epochs, val_loss, 'b', label='Validation loss')
plt.title('Training and validation loss')
# plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()

plt.subplot(2, 1, 2)
plt.plot(epochs, acc, 'r', label='Training acc')
plt.plot(epochs, val_acc, 'b', label='Validation acc')
plt.title('Training and validation accuracy')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend(loc='lower right')

In [128]:
from transformers import pipeline
#nlp = pipeline('ner', model=model, tokenizer=tokenizer)
nlp = pipeline('ner', model=model, tokenizer=tokenizer,aggregation_strategy="first")

In [129]:
test_data = []
data = dataframe[36000:36100]
for index, row in data.iterrows():
  sentence = ""
 
  for x, value in row.iteritems():

    sentence += str(value) + " "

  test_data.append(sentence)

In [ ]:
nlp(test_data[4])

In [130]:
true_predictions = []
nomi=[]
cognomi = []
indirizzi= []
true_names = []
for x in test_data:
   
    ris = nlp(x)
    indirizzo = ""
    cognome = ""
    nome = ""
    true_name = ""
    for t in ris:
      
      if t["entity_group"] == "LABEL_4":
        indirizzo = t["word"]
      if t["entity_group"] == "LABEL_0":
        indirizzo += " " + t["word"]
        indirizzi.append(indirizzo)
      if t["entity_group"] == "LABEL_3":
        cognome =t["word"]
        true_name = t["word"]
      if t["entity_group"] == "LABEL_1":
        nome = t["word"]
        true_name += " " + t["word"]
        true_names.append(true_name)

    cognomi.append(cognome)  
    nomi.append(nome)

In [ ]:
id2tag

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
from sklearn.metrics import classification_report

In [131]:
cognomi

['masulli',
 'palamuso',
 'slaviero',
 'rocconi',
 'eletti',
 'tamponi',
 'gifuni',
 'saraceno',
 'fregoso',
 'secciani',
 'giusto',
 'zili',
 'reza',
 'rangone',
 'pautasso',
 'pettinaro',
 'dragoni',
 'lanzavecchia',
 'scudero',
 'pizzini',
 'serani',
 'luberti',
 'onorato',
 'liotta',
 'pelu',
 'pulega',
 'masiero',
 'turcone',
 'strano',
 'sarai',
 'perosa',
 'luperti',
 'pasco',
 'paganelli',
 'fagianelli',
 'saruggia',
 'malfatti',
 'ravasi',
 'pietroni',
 'nalesso',
 'ferruccio',
 'tosatti',
 'mazzini',
 'ottaviano',
 'scaccabarozzi',
 'di',
 'savelli',
 'manganelli',
 'rolfi',
 'patrignani',
 'valania',
 'intellisano',
 'rigato',
 'marcis',
 'pietrantoni',
 'savoriti',
 'stallona',
 'zoso',
 'manni',
 'viscardi',
 'pezzato',
 'rombaldi',
 'fusti',
 'todone',
 'manco',
 'liccese',
 'di',
 'regazzo',
 'pangrazi',
 'scutellari',
 'reni',
 'monachella',
 'senigaglia',
 'santacroce',
 'vasallo',
 'ravenni',
 'pillai',
 'di',
 'sapa',
 'noceti',
 'ioppi',
 'sciannamblo',
 'maruccia',
 'sibani',
 'lagana',
 'zenobini',
 'sarubbo',
 'fasoli',
 'vizzi',
 'miceli',
 'privitera',
 'paganin',
 'filia',
 'di',
 'iaccarino',
 'segnan',
 'tamanzi',
 'minet',
 'gandelli',
 'omodei']

In [137]:
true_ind = list(dataframe[36000:36100]["indirizzo"].str.lower())
true_full_name =list(dataframe[36000:36100]["full_name"].str.lower())

In [149]:
f1_score(true_ind, indirizzi, average="micro")

0.8000000000000002

In [150]:
list(set(true_ind) - set(indirizzi))

['corso roma 4/bis',
 'via grazia deledda 23/bis',
 'strada genova 199/ter',
 'strada villastellone 15/bis',
 'via cristoforo colombo 22/bis',
 'via giuseppe verdi 4/bis',
 'via s.martino 18',
 'via juglaris 23/a',
 'via cavour 22/ter',
 'strada s.brigida 68',
 'strada loreto 16/bis',
 'strada s.brigida 178',
 'strada genova 74/bis',
 'strada genova 147/bis',
 'via giacomo puccini 17/bis',
 "strada marse' 3",
 "piazza caduti per la liberta' 7",
 'strada carignano 45/d',
 'strada genova 114/bis',
 'via s.croce 42']

In [136]:
f1_score(cognomi_veri, cognomi, average="micro")

0.94

In [146]:
list(set(cognomi_veri) - set(cognomi))

['pelù', 'di meo', 'di paolo', "lagana'", 'di cataldi', 'di febo']

In [138]:
f1_score(nomi_veri, nomi, average="micro")

0.9500000000000001

In [147]:
list(set(nomi_veri) - set(nomi))

['callimaco', 'simonino', 'giunia', 'rineo', 'eudossia']

In [145]:
list(set(cognomi) - set(cognomi_veri))

['pelu', 'di', 'lagana']

In [142]:

print(len(indirizzi))

100

In [143]:
print(len(cognomi))

100

In [ ]:
print(len(indirizzi))